<div class="column is-4">
<div class="login-form">
  <%= form_tag new_session_path  do %>

    <div class="field">
      <p class="control has-icons-left">
        <%= text_field_tag :email, nil, placeholder: "Your Email", class:"input" %>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div> 

    <div class="field">
      <p class="control has-icons-left">
        <%= text_field_tag :password, nil, placeholder: "Your Password", class:"input" %>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>

   <div class="field">
      <p class="control">
       <button class="button is-success">
         Login
       </button>
      </p>
  </div> 
<% end %>
</div>