
<div class="card register-card">
  <div class="card-header">
    <h1 class="card-heading">Register<h1>
  </div>
  <div class="card-block">
  <% if @user.errors.present? %>
    <div id="error_explanation" class"alert alert-danger">
      <strong> Cannot save due to <%= pluralize(@user.errors.count, "error") %>:</strong>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
       <% end %>
       </ul>
      </div>  
  <% end %>
<%= render "form" %>