<h1 style= "color: hsl(348, 100%, 61%)">Welcome to Tinder Version 2</h1>
<a class="button is-warning large-button" href="<%= new_user_path%>">Sign Up</a>

<a class="button is-danger" href="<%= login_path%>">Login</a>


<div class="col-sm-7 col-sm-offset-1 player-wrapper">
  <div class="player">
  <%= image_tag 'http://d.ibtimes.co.uk/en/full/1431471/tinder-mobile-dating-app.jpg
  ' %>
  </div>
</div>
