// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#heading { color: #ff3300; }
.form-group {
  background-color: #008080; 
  margin: 3px; 
  padding: 5px;
  border-radius: 9px;
  font-size: 22px
}

.register-card {
  width: 300px;
}